<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Pensamentos</title>
</head>

<body>
    <nav class="cabecalho">
        <div class="img">
            <a href="/">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="botoes">
            <a class="pensar" href="">Pensamentos</a>
            <a href="">Entrar</a>
            <a href="">Registrar</a>
        </div>
    </nav>
    <div class="linha"></div>
    {{{body}}}


    <div class="linha"></div>
    <footer>
        <h1 class="pensadores">Pensadores@2023</h1>
    </footer>
</body>

</html>