<main>

    <div class="registrar">
        <div class="linha-azul"></div>
        <p>Registrar </p>
    </div>

    <div class="cadastro">


        <form action="">
            <div class="forms">
                <label>Nome:</label>
                <input type="text" placeholder="Digite seu nome">

            </div>


            <div class="forms">
                <label>E-mail:</label>
                <input type="email" placeholder="Digite seu e-mail">

            </div>

            <div class="forms">
                <label>Senha:</label>
                <input type="password" placeholder="Digite sua senha">

            </div>
            <div class="forms">
                <label>Confirmação de Senha:</label>
                <input type="password" placeholder="Confirme sua senha">

            </div>


            <input type="submit" value="Cadastrar" class="cadastrar">

            <span>Já tem conta? <a class="link" href="">Clique aqui</a></span>
        </form>
    </div>
</main>